<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Physics Simulation</title>
		<script src="static/js/Box2D.js" type="text/javascript"></script>
		<script src="static/js/jquery-1.4.4.min.js" type="text/javascript"></script>
		<script src="static/js/jquery.ba-hashchange.min.js" type="text/javascript"></script>
		<script src="static/js/io.js" type="text/javascript"></script>
		<script src="static/js/simulation.js" type="text/javascript"></script>
		<style type="text/css">
			body, canvas {
				margin: 0 0 0 0;
				padding: 0 0 0 0;
				border: none;
			}
		</style>
	</head>
	<body>
		<canvas id="c" width="640" height="480"></canvas>
	</body>
</html>